.container {
  position: relative;
}

.fade {
  position: absolute;
  margin-top: 20px;
  left: 0;
  right: 0;
  z-index: 0;
  animation: fadeIn 3s forwards; /* Initial fade-in for 'hello' */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  position: absolute;
  margin-top: 20px;
  left: 0;
  right: 0;
  z-index: 0;
  animation: fadeOut 2s forwards; /* Fade-out triggered by matching input */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.pacman {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000939;
  margin-top: 20px;
  animation-name: eatmove;
  animation-duration: 3s;
  animation-delay: 4s;
  z-index: 1;
}
.pacman__mouth {
  background: #27ee3e;
  position: absolute;
  left: 1%;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  animation-name: eat;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}
@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}

@keyframes eatmove {
  from {
    left: 33%;
  }
  to {
    left: 66%;
  }
}





.animatedtext span {
  display: inline-block;
  animation: fadeOutText 2s steps(11, end); 
}
@keyframes fadeOutText {
  from { opacity: 1; }
  to { opacity: 0; }
}