.Content {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.landingH1 {
  align-self: stretch;
  text-align: center;
  font-family: "Courier New";
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*----------------------------------------------------------------------------------------*/
/* fade in, fade out landingH1 */
/*----------------------------------------------------------------------------------------*/
.landingH1-fadeIn {
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.landingH1-fadeOut {
  animation: fadeOut 2s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*----------------------------------------------------------------------------------------*/
/* eat words */
/*----------------------------------------------------------------------------------------*/
.eatwords span {
  display: inline-block;
  animation: fadeOut 0.1s forwards;
}
/* .eatwords span:nth-child(1) {
  animation-delay: 0s;
}
.eatwords span:nth-child(2) {
  animation-delay: 1s;
}
.eatwords span:nth-child(3) {
  animation-delay: 2s;
}
.eatwords span:nth-child(4) {
  animation-delay: 3s;
} */
