.terminal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: var(--border-radius);
  background: var(--cp-main);
  min-height: 100px; /* Adjusted for demonstration */
  width: 100%;
}

.terminal-container .header {
  display: flex;
  height: 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: var(--border-radius) var(--border-radius) 0rem 0rem;
  background: var(--cp-accent1);
}

.terminal-container .header .greeting {
  color: var(--cp-main);
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
}

.terminal-container .input-container {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  color: var(--cp-background);
  font-size: 1rem;
  height: 100%;
  overflow: auto;
}

.terminal-container .input-container .input-text {
  resize: none;
  align-self: stretch;
  box-shadow: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  min-height: 1.15rem;
  max-height: 90vh;
  overflow-y: visible;

  font-family: "Courier New", monospace;
  color: var(--cp-background);
  font-size: 1rem;
  text-align: left;
}
