.App{
  min-width: 500px;
  max-width: 1000px;
  min-height: 500px;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 1.5rem;
  text-align: center;

  border-radius: var(--border-radius, 15px) var(--border-radius, 15px) 0px 0px;
  font-size: 1rem;
  background: rgb(253, 146, 146);
}

.terminal {
  height: calc(100% - 1.5rem);
  width: calc(100% - 1rem);
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 0px 0px var(--border-radius, 15px) var(--border-radius, 15px);
  background: rgb(215, 188, 252);
}

.terminal .history {
  width: 100%;
  text-align: left;

  background: rgb(177, 144, 224);
}

.terminal .input {
  height: 100%;
  width: 100%;
  outline: none;
  display: flex;
  align-items: flex-start;

  background: rgb(229, 210, 255);
}

.terminal .prompt {
  position: absolute;
  left: 1.5rem;

  color: blue;
  font-weight: bold;
}