/*----------------------------------------------------------------------------------------*/
/* terminal */
/*----------------------------------------------------------------------------------------*/
.terminal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: var(--border-radius);
  background: var(--cp-main);
  min-height: 100px;
  width: 100%;
}
.terminal-container .header {
  display: flex;
  height: 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: var(--border-radius) var(--border-radius) 0rem 0rem;
  background: var(--cp-accent1);
}
.terminal-container .header .greeting {
  color: var(--cp-main);
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
}
.terminal-container .input-container {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  color: var(--cp-background);
  font-size: 1rem;
  height: 100%;
  overflow: auto;
}
.terminal-container .input-container .input-text {
  resize: none;
  align-self: stretch;
  box-shadow: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  min-height: 1.15rem;
  max-height: 90vh;
  overflow-y: visible;

  font-family: "Courier New", monospace;
  color: var(--cp-background);
  font-size: 1rem;
  text-align: left;
}

/*----------------------------------------------------------------------------------------*/
/* pop up */
/*----------------------------------------------------------------------------------------*/
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup {
  background-color: var(--cp-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.popup-container {
  backdrop-filter: blur(5px);
}

/*----------------------------------------------------------------------------------------*/
/* history */
/*----------------------------------------------------------------------------------------*/
.hst-command {
  background-color: rgba(0, 0, 0, 0.338);
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}
.hst-indent {
  padding-left: 1.75rem;
}
.hst-error {
  color: var(--cp-accent2);
}