:root {
  /*colour pallet*/
  --cp-background: #fffceb;
  --cp-main: #36577f;
  --cp-accent1: #ffa67e;
  --border-radius: 0.9375rem;
}

body {
  font-family: "Courier New", monospace;
  background: var(--cp-background);
}

#root {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  min-height: 500px;
}
